<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instruction Book</title>
</head>
<body>
    <p>Delete Instruction Record</p>
    <form method="POST">
        {% csrf_token %}
        Do you want to delete the Instruction?
        <input type="submit" value="Delete Instruction"/>
    </form>
</body>
</html>