{% extends "base.html" %}
{% load i18n static %}
{% block content %}
  {% if form.errors and not form.non_field_errors %}
    <p class="errornote">
      {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
  {% endif %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}<p class="errornote">{{ error }}</p>{% endfor %}
  {% endif %}
  <div id="content-main">
    {% if user.is_authenticated %}
      <p class="errornote">
        {% blocktranslate trimmed %}
          You are authenticated as {{ username }}, but are not authorized to
          access this page. Would you like to login to a different account?
        {% endblocktranslate %}
      </p>
    {% endif %}
    <form action="{% url 'login' %}" method="post" id="login-form">
      {% csrf_token %}
      <h3>Вход</h3>
      <br>
      <div class="mb-3">
        {{ form.username.errors }}
        <input type="text"
               name="username"
               class="form-control"
               placeholder="Логин"
               id="loginLabel">
      </div>
      <div class="mb-3">
        {{ form.password.errors }}
        <input type="password"
               name="password"
               class="form-control"
               placeholder="Пароль"
               id="passLabel">
      </div>
      <button type="submit" class="btn btn-primary">Вход</button>
      <a class="btn btn-outline-primary" href="{% url 'register' %}">Регистрация</a>
    </form>
  </div>
{% endblock %}
{% comment %} <div class="mb-3">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="mb-3">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <input type="submit" class="btn btn-primary" value="{% translate 'Log in' %}">
  </div>
<a class="btn btn-outline-primary" href="/auth/register">Регистрация</a> {% endcomment %}
